.content > .table-view:first-child {
    margin-top: -2px;
}

.hidden {
    opacity: 0;
}

.media-object.big {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.media-object.small {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.table-view-cell h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 0 4px 0;
    margin: 0;
}

input[type=search] {
    border-radius: 8px;
}

.card {
    margin-top:54px;
}